<div class="container">

  <div class="list">
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" routerLink="/add_employee"><i class='bx bx-user-plus'></i> Add
        employee</button>
    </div>
    <div class="list-nav">


      <div class="d-flex justify-content-start">
        <p> Employee List </p>
      </div>

    </div>





    <div class="row">
      <div class="col-md-3">

        <div class="card">
          <div class="card-img">
            <img src="../assets/img/photo_profil.jpg" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Foulen ben foulen</h5>
            <h6 class="card-title">Role:</h6>
            <div class="card-body-buttom">
              <div class="row">
                <div class="col">
                  <button class="btn btn-outline-primary" id="btn1">Consult</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary"> execlude</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <div class="card-img">
            <img src="../assets/img/photo_profil.jpg" class="card-img-top">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-title">Role:</h6>
            <div class="card-body-buttom">
              <div class="row">
                <div class="col">
                  <button class="btn btn-outline-primary">Consult</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary"> execlude</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <div class="card-img">
            <img src="../assets/img/photo_profil.jpg" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-title">Role:</h6>
            <div class="card-body-buttom">
              <div class="row">
                <div class="col">
                  <button class="btn btn-outline-primary">Consult</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary"> execlude</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <div class="card-img">
            <img src="../assets/img/photo_profil.jpg" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-title">Role:</h6>
            <div class="card-body-buttom">
              <div class="row">
                <div class="col">
                  <button class="btn btn-outline-primary">Consult</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary"> execlude</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>