




  <div class="row box2 ">

    <div class="col-md-4 box">
      <app-statestiqueworkflow></app-statestiqueworkflow>
    </div>
    <div class="col-md-4 box">
     <app-statestiqueadmin></app-statestiqueadmin>
    </div>
    <div class="col-md-4 box">
      Entreprise Entreprise Entreprise
    </div>

  </div>
  <div class="row box2">

    <div class="col-md-12 box">
      <div >
        <div class="d-flex justify-content-start"><h5>Liste Admin</h5></div>
        <div class="d-flex justify-content-end">

           <button class="btn btn-primary" style="margin-bottom: 1%; margin-top: -4%;" routerLink="/homeSuperadmin/ajouter_admin">  <i class='bx bxs-user-plus'></i> Add admin</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">lastName</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNumber</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let admin of list" >
            <th scope="row">1</th>
            <td>{{admin.firstName}}</td>
            <td>{{admin.lastName}}</td>
            <td>{{admin.Email}}</td>
            <td>{{admin.phoneNumber}}</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>









    <!-- <div class="row box2 ">
      <div class="col-md-4 box"><b>WorkFlow</b></div>
      <div class="col-md-4 box"><b>Admins</b></div>
      <div class="col-md-4 box"><b>Entreprise</b></div>
    </div>
  <div class=" box2">

    <div class=" box">
      <div >
        <div class="d-flex justify-content-start"><h5>Liste Admin</h5></div>
        <div class="d-flex justify-content-end">

           <button class="btn btn-primary" style="margin-bottom: 1%; margin-top: -4%;">  <i class='bx bxs-user-plus'></i> Add admin</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
