<app-nar-entreprise ></app-nar-entreprise>

<div class="container content" >
    <div class="list">
        <div class="cover">
            <img src="../assets/img/coveruptech.jpg" class="img-couvertur" alt="">
        </div>
        <div class="d-flex justify-content-start">
            <img src="../assets/img/uptech.jpg" class="img-profil">
        </div>


        <br><br>
        <div class="row">
            <div class="col-8 box">

                <div class="row row-cols-1 ">
                    <div class="col">Name: {{entreprise.Name}}</div>
                    <div class="col">Email: {{entreprise.Email}}</div>


                </div>
            </div>
            <div class="col-3 box">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 1
                            </label>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 2
                            </label>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 3
                            </label>

                        </div>

                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 4
                            </label>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 5
                            </label>

                        </div>

                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Access 6
                            </label>

                        </div>

                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
