<div class="container">

    <div class="list">
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary" routerLink="/add_entreprise"><i class='bx bx-user-plus'></i> Add
          Entreprise</button>
      </div>
      <div class="list-nav">
  
  
        <div class="d-flex justify-content-start">
          <p> Entreprise List </p>
        </div>
  
      </div>
  
  
  
  
  
      <div class="row">
        <div class="col-md-3">
  
          <div class="card">
            <div class="dropdown mr-1">
                <button type="" id="dropdownMenuOffset" data-toggle="dropdown" style="border:none;float: right;">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" style="float: left;">
                    <a class="dropdown-item"  style="color: rgb(29, 99, 252)"  routerLink="">View</a>
                    <a class="dropdown-item"  style="color: rgb(252, 29, 29)"  routerLink="">Delete</a>
                    <a class="dropdown-item">Annuler</a>
                </div>
            </div>
            <div class="card-img">
              <img src="../assets/img/photo_profil.jpg" class="card-img-top">
            </div>
            <div class="card-body">
              <h5 class="card-title">Name:</h5>
              <h6 class="card-title">Email:</h6>
              <div class="card-body-buttom">
                
  
  
  
              </div>
            </div>
          </div>
        </div>

           <div class="col-md-3">
            <div class="card">
                <div class="dropdown mr-1">
                    <button type="" id="dropdownMenuOffset" data-toggle="dropdown" style="border:none;float: right;">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" style="float: left;">
                        <a class="dropdown-item"  style="color: rgb(29, 99, 252)"  routerLink="">View</a>
                        <a class="dropdown-item"  style="color: rgb(252, 29, 29)"  routerLink="">Delete</a>
                        <a class="dropdown-item">Annuler</a>
                    </div>
                </div>
              <div class="card-img">
                <img src="../assets/img/photo_profil.jpg" class="card-img-top">
              </div>
              <div class="card-body">
                <h5 class="card-title">Name:</h5>
                <h6 class="card-title">Email:</h6>
                <div class="card-body-buttom">
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3">
  
            <div class="card">
                <div class="dropdown mr-1">
                    <button type="" id="dropdownMenuOffset" data-toggle="dropdown" style="border:none;float: right;">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" style="float: left;">
                        <a class="dropdown-item"  style="color: rgb(29, 99, 252)"  routerLink="">View</a>
                        <a class="dropdown-item"  style="color: rgb(252, 29, 29)"  routerLink="">Delete</a>
                        <a class="dropdown-item">Annuler</a>
                    </div>
                </div>
              <div class="card-img">
                <img src="../assets/img/photo_profil.jpg" class="card-img-top">
              </div>
              <div class="card-body">
                <h5 class="card-title">Name:</h5>
                <h6 class="card-title">Email:</h6>
                <div class="card-body-buttom">
                </div>
              </div>
            </div>
          </div>

        <div class="col-md-3">
  
          <div class="card">
            <div class="dropdown mr-1">
                <button type="" id="dropdownMenuOffset" data-toggle="dropdown" style="border:none;float: right;">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" style="float: left;">
                    <a class="dropdown-item"  style="color: rgb(29, 99, 252)"  routerLink="">View</a>
                    <a class="dropdown-item"  style="color: rgb(252, 29, 29)"  routerLink="">Delete</a>
                    <a class="dropdown-item">Annuler</a>
                </div>
            </div>
            <div class="card-img">
              <img src="../assets/img/photo_profil.jpg" class="card-img-top">
            </div>
            <div class="card-body">
              <h5 class="card-title">Name:</h5>
              <h6 class="card-title">Email:</h6>
              <div class="card-body-buttom">
             
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
  
  </div>