<div class="container-fluid">


    <br>
        <div class="box">
            <img src="../../assets/img/logo.png" alt="" srcset="" class="logo">
            <h3>Add Entreprise</h3>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" placeholder="Email" name="email" [(ngModel)]="form.email" [class.test]="test">
                </div>
            </div>
            <div class="error">
                {{message}}
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <input type="password" placeholder="Password" name="password" [(ngModel)]="form.password"
                        [class.test1]="test1">
                </div>
            </div>
            <div class="error">
                {{message1}}
            </div>
    
    
            <br>
    
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn1" (click)="AddEmployee()" data-toggle="modal"
                        data-target="#exampleModal">
                        Add
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Entreprise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../../assets/img/check.png" alt="" srcset="" class="logo1" *ngIf="!check">
                        <img src="../../assets/img/error.png" alt="" srcset="" class="logo1" *ngIf="check">
                        <h5 *ngIf="!check">Entreprise added succesfuly</h5>
                        <h5 *ngIf="check">Failed</h5>
    
                    </div>
    
                </div>
            </div>
        </div>
    
    </div>