.box {
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 5px rgba(150, 150, 150, 0.57);
    -webkit-box-shadow: 0px 0px 7px 5px rgba(150, 150, 150, 0.57);
    -moz-box-shadow: 0px 0px 7px 5px rgba(150, 150, 150, 0.57);
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    width: 40%;
  }
  #btn{
   margin-top:5%;  
   margin-bottom: -5%;
  }
  .logo {
    margin-bottom: 20px;
    display: block;
    margin: auto;
    height: auto;
    width: 25%;
  }
  .logo1 {
    margin-bottom: 20px;
    display: block;
    margin: auto;
    height: auto;
    width: 20%;
  }
  h3,h5 {
    text-align: center;
    margin-top: 15px;
    font-size: auto;
  }
  input {
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
    outline: none;
    margin-top: 18px;
    
  }

  select{
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
    outline: none;
    margin-top: 18px;
  }
  .btn1 {
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: #0076fe;
    border: 2px solid #0076fe;
  }
  .btn1:hover {
    background-color: white;
  
    color: #0076fe;
  }
  .btn2 {
      width:100%;
      display: block;
      margin: auto;
      margin-top: 30px;
      background-color: #ffffff;
      border: 1px solid rgb(56, 56, 56);
      color: black;
      
    }
    .test{
      border:1px solid red
    }
    .test1{
      border:1px solid red
    }
    .error{
      color:red;
    }
    .icon{
        width:18px;
          height:auto;
          left: 0;
      
    }
  
    a{
      text-decoration: none;
     
    }
    @media screen and (max-width: 414px) {
      .box {
        width: 98%;
        box-shadow: none;
        padding: 15px;
      }
      .logo {
        width: 50%;
      }
      .btn1{
          width: 100%;
      }
    }
    @media screen and (max-width: 820px) {
      .box {
        width: 98%;
        padding: 15px;
        box-shadow: none;
      }
      .logo {
        width: 50%;
      }
      .btn1{
          width: 100%;
      }
    }
    @media screen and (max-width: 912px) {
      .box {
        width: 98%;
        padding: 15px;
        box-shadow: none;
      }
      .logo {
        width: 50%;
      }
      .btn1{
          width: 100%;
      }
    }
        
    
  