<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <img src="../assets/img/logo.png"  >
    <div class="button">
<input  class="btn btn-primary" type="submit" name="" value="Log in" id="b1" routerLink="/Register">
<input class="btn btn-primary" type="submit" name=" " value="Sign up" id="b2" routerLink="/Login">

</div>
</div>
    
<div class="container">

    
    <div class="img">
        <img src="../assets/img/opera.png">
        <p id="p1">Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry.</p>
            <button class="btn btn-primary" >Get Started <i class='bx bx-right-arrow-circle'></i></button>
    </div>
    
        <div class="form">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6"><img id="img1" src="../assets/img/img1.jpg" ></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"><img id="img2"  src="../assets/img/img2.jpg" ></div>
               
                <div class="col-md-4">  <img id="img3"  src="../assets/img/img3.jpg" ></div>
            </div>



            
            
          

            <form >
               
                
            </form>
            
        </div>
   



<img src="../assets/img/flesh.png"  id ="imf">

</div>
<app-footer></app-footer>