<app-nar-entreprise *ngIf="test"></app-nar-entreprise>
<app-user-nav *ngIf="!test"></app-user-nav>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-primary">
                Report
            </button>
        </div>
        <div class="col-md-1">
            <a class="btn btn-outline-dark" routerLink="/Tasks/{{user.id}}">
                Tasks
            </a>
        </div>
    </div>
    <br>
    <h5>Workflows</h5>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="work">
                <div class="row">
                    <div class="col-9">
                        <h6 class="titre">Employée confermation</h6>
                    </div>
                    <div class="col-3">
                        <img src="../../assets/img/work.png" alt="" srcset="" class="logo">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="work">
                <div class="row">
                    <div class="col-9">
                        <h6 class="titre">Projet web</h6>
                    </div>
                    <div class="col-3">
                        <img src="../../assets/img/work.png" alt="" srcset="" class="logo">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="work">
                <div class="row">
                    <div class="col-9">
                        <h6 class="titre">Request</h6>
                    </div>
                    <div class="col-3">
                        <img src="../../assets/img/work.png" alt="" srcset="" class="logo">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="work">
                <div class="row">
                    <div class="col-9">
                        <h6 class="titre">Create new workflow</h6>
                    </div>
                    <div class="col-3">
                        <img src="../../assets/img/addWork.png" alt="" srcset="" class="logo">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-1">
            <div class="work">
                <div class="row">
                    <div class="col">
                        <h6>More</h6>
                    </div>
                    <div class="col">

                        <img src="../../assets/img/dot.png" alt="" srcset="" class="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="box-table">
        <h6>My Tasks</h6>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">label</th>
                    <!-- <th scope="col">workflow name</th> -->
                    <th scope="col">created at</th>
                    <th scope="col">due date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <th scope="row">{{task.id}}</th>
                    <td>{{task.Name}}</td>
                    <!-- <td>Otto</td> -->
                    <td>{{task.createdAt | date}}</td>
                    <td>{{task.dueDate | date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
