<div class="container">
  <div class="row">

      <div class="col">

          <img src="../../assets/img/logo.png" alt="" srcset="" class="logo1">
      </div>
      <div class="col">
          <div class="box">
              <img src="../../assets/img/logo.png" alt="" srcset="" class="logo">
              <h3>Sign In to Easy Flow</h3>
              <div class="row">
                  <div class="col-md-12">
                      <div class="alert alert-danger" [hidden]="!test2">
                          {{message2}}


                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <input type="email" placeholder="Email" name="email" [(ngModel)]="user.Email" [class.test1]="test">
                  </div>
                  <div class="error">
                      {{message1}}
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
                          [class.test1]="test">
                  </div>
              </div>
              <div class="error">
                  {{message1}}
              </div>


              <br>
              <div class="row">
                  <div class="col-md-6">
                      <a routerLink="/SignUp">Sign Up</a>
                  </div>
                  <div class="col-md-6">
                    <a routerLink="/Login">Login</a>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <button class="btn btn-primary btn1" (click)="login()">
                          Log In
                      </button>
                  </div>
              </div>
          </div>
      </div>


      </div>

</div>
<app-footer></app-footer>

