<nav class="navbar navbar-expand-lg  bg-primary">

    <div class="navbar-brand" href="#">
        <img src="../../assets/img/logo_light.png" alt="" srcset="" class="logo" routerLink="/Home">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active item " >
                <a class="nav-link li" routerLink="/homeadmin/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active item">
                <a class="nav-link li"  routerLink="/list_workflow">Workflows</a>
            </li>
            <li class="nav-item active item" >
                <a class="nav-link li" routerLink="/homeadmin/list-entreprise">Entreprise<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active item">
                <a class="nav-link li" href="#">Groups</a>
            </li>
            <li class="nav-item active item">
                <a class="nav-link li" href="#">Reports</a>
            </li>
            <li class="nav-item active item">
                <a class="nav-link li" href="#">Demandes</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav lg-auto">
                <li class="nav-item dropdown " style="margin-right :20px;">
                    
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: white;">
                        <i class='bx bxs-user-circle'></i>
                            {{user.firstName}} {{user.lastName}}
                    </a>
                    <div class="dropdown-menu list" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="#">wilbretBailey@gmail.com</a> -->
                        <a class="dropdown-item" routerLink="/Profil/{{user.id}}"> Profil <i class='bx bx-user-circle'  style="color:#0076FE;margin-left: 70px ;"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" > Themes <i class='bx bx-paint-roll' style="color:#0076FE;margin-left: 55px ;"></i></a>
                        <a class="dropdown-item" >  Settings <i class='bx bx-cog' style="color:#0076FE;margin-left: 55px ;"></i></a>
                        <a class="dropdown-item" (click)="logout()"> Log out <i class='bx bx-log-out-circle' style="color:#0076FE;margin-left: 57px ;"></i></a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</nav>