
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-end">
        <div class="row">
          <div class="col-md-2">
            <i class='bx bx-user-circle'></i>
          </div>
          <div class="col">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                {{user.firstName}}  {{user.lastName}} 
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  
  <div class="col cont ">
    <app-root></app-root>
  </div>
  
</div>




<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-9">

      <div class="d-flex justify-content-end">
        <div class="row">
          <div class="col-md-2">
            <i class='bx bx-user-circle'></i>
          </div>
          <div class="col">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
               {{superadmin.Lastname}} {{superadmin.Firstname}} 
              </button>
            </div>
          </div>
        </div>
      </div>
     
    </div>
   
  </div>
  <div class="row box2">
    <app-root></app-root>
  </div>
  </div>
   -->