<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-9">

      <div class="d-flex justify-content-end">
        <div class="row">
          <div class="col-md-2">
            <i class='bx bx-user-circle'></i>
          </div>
          <div class="col">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-expanded="false">

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row box2">
    <app-root></app-root>
  </div>
  </div>
  