* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #0076FE;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar.active .log_content .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar .log_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.log_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.log_content .logo .logo_name img {
    
    margin-right: 5px;
    width:100px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    text-align: center;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li .tool {
    position: absolute;
    left: 122px;
    top: 0;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transition: 0s;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    display: block;
    
}

.sidebar ul li:hover .tool {
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
    color: black;
}

.sidebar.active ul li:hover .tool {
    display: none;
}

.sidebar ul li a {
    color: #11101d;
    display: flex;
    background-color: #fff;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    margin-top: 10%;
}



.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    color: black;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}



.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #fff;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.profile #log_out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active .home_content .container {
    margin: 50px;
}

i {
    color: white;
}

i:hover {
    color: rgb(81, 136, 247);
}