
.row{
    margin-top:2%;
}
.list{

    padding:2%;
}
.card{
    width: 15rem;
}
.card-img{
    padding: 5%;
}

p{
   font-size:25px;
  font-weight: bold;
}
button{
    margin-top:2%;
}




@media screen and (max-width: 991px) {
    
   .card{
       width:10rem;
   }
}

@media screen and (max-width: 767px) {
    .list{
        margin-left: 20%;
    }
    .card{
        width:20rem;
    }
    .row{
      
        margin-top:2%;
    }
 }

 @media screen and (max-width: 425px) {
    .list{
        margin-left: 10%;
    }
    .card{
        width:20rem;
    }
    .row{
      
        margin-top:2%;
    }
 }

 @media screen and (max-width: 375px) {
    .list{
        margin-left: 1%;
    }
    .card{
        width:20rem;
    }
    .row{
      
        margin-top:2%;
    }
 }


 

 @media screen and (max-width: 340px) {
    .list{
        margin-left: 1%;
    }
    .row{
      
        margin-top:2%;
    }
   
 }

 @media screen and (max-width: 320px) {
    .list{
        margin-left: 5%;
    }
    .card{
        width:15rem;
    }
 }


