<div class="container content">
    <div class="list">
    <div class="cover">
        <img src="../assets/img/photo_c.jpg"  class="img-couvertur" alt="">
    </div>
    <div class="d-flex justify-content-start">
         <img src="../assets/img/photo_profil.jpg" class="img-profil"></div>
   
        
    <br><br>
    <div class="row">
        <div class="col-8 box">

            <div class="row row-cols-1 ">
                <div class="col">Name: {{user.firstName}} {{user.lastName}}</div>
                <div class="col">Email: {{user.Email}}</div>
                <div class="col">Département:</div>
                <div class="col">Group:</div>
                <div class="col">Role: {{user.role}}</div>
        
              </div>
        </div>
        <div class="col-3 box">
            <div class="row row-cols-1 ">
                <div class="col">Location:</div>
                <div class="col">aa</div>
                <div class="col">Phone number:</div>
                <div class="col">+21653804490</div>
               
        
            </div>
        </div>

       
    </div>
   
</div>
</div>