<app-navbar *ngIf="user1.role != 'super admin'" ></app-navbar>
<app-sidebar *ngIf="user1.role != 'admin'"></app-sidebar>

<div class="supadmin" *ngIf="user1.role == 'super admin'" >
    <div class="d-flex justify-content-end" style="margin-right: -13%; margin-bottom: -4%;">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0076FE;">
                        <i class='bx bxs-user-circle'></i>
                        {{user.firstName}} {{user.lastName}}
                    </a>
                    <div class="dropdown-menu list" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/Profil/{{user.id}}"> Profil <i class='bx bx-user-circle'
                                style="color:#0076FE;margin-left: 70px ;"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"> Themes <i class='bx bx-paint-roll'
                                style="color:#0076FE;margin-left: 55px ;"></i></a>
                        <a class="dropdown-item"> Settings <i class='bx bx-cog'
                                style="color:#0076FE;margin-left: 55px ;"></i></a>
                        <a class="dropdown-item"> Log out <i class='bx bx-log-out-circle'
                                style="color:#0076FE;margin-left: 57px ;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container content">
    <div class="list">
    <div class="cover">
        <img src="../assets/img/photo_c.jpg"  class="img-couvertur" alt="">
    </div>
    <div class="d-flex justify-content-start">
         <img src="../assets/img/photo_profil.jpg" class="img-profil"></div>
   
        
    <br><br>
    <div class="row">
        <div class="col-8 box">

            <div class="row row-cols-1 ">
                <div class="col">Name: {{user.firstName}} {{user.lastName}}</div>
                <div class="col">Email: {{user.Email}}</div>
                <div class="col">Département:</div>
                <div class="col">Group:</div>
                <div class="col">Role: {{user.role}}</div>
        
              </div>
        </div>
        <div class="col-3 box">
            <div class="row row-cols-1 ">
                <div class="col">Location:</div>
                <div class="col">aa</div>
                <div class="col">Phone number:</div>
                <div class="col">+21653804490</div>
               
        
            </div>
        </div>

       
    </div>
   
</div>
</div>
</div>


<div class="container content"   *ngIf="user1.role != 'super admin'">
    <div class="list">
    <div class="cover">
        <img src="../assets/img/photo_c.jpg"  class="img-couvertur" alt="">
    </div>
    <div class="d-flex justify-content-start">
         <img src="../assets/img/photo_profil.jpg" class="img-profil"></div>
   
        
    <br><br>
    <div class="row">
        <div class="col-8 box">

            <div class="row row-cols-1 ">
                <div class="col">Name: {{user.firstName}} {{user.lastName}}</div>
                <div class="col">Email: {{user.Email}}</div>
                <div class="col">Département:</div>
                <div class="col">Group:</div>
                <div class="col">Role: {{user.role}}</div>
        
              </div>
        </div>
        <div class="col-3 box">
            <div class="row row-cols-1 ">
                <div class="col">Location:</div>
                <div class="col">aa</div>
                <div class="col">Phone number:</div>
                <div class="col">+21653804490</div>
               
        
            </div>
        </div>

       
    </div>
   
</div>
</div>